body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
        padding-left: 1rem;
        padding-right: 1rem;
    @include media-min-lg{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}
*{
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
ul{
    li{
        list-style: none;
    }
}
.heading-start-curve{
    border-left:2px dotted white;
    border-bottom: 2px dotted white;
    padding-left: 10px;
    padding-bottom: 10px;


}
.heading-end-curve{
    border-right:2px dotted white;
    border-top: 2px dotted white;
    padding-right: 10px;
    padding-top: 11px;
}
.lower-text{
    display: flex;
    font-size: 12px;
    padding-left: 3rem;
    font-family: 'Sulphur Point';
    letter-spacing: 5px;
}