// Variables
// font family
$header-font-family:'Sulphur Point';
$menu-font-family: 'Vanio Trial';
$content-font-family: 'san-serif';
// colors
$menus-orange: #f85a40;
$pink-color-btn:#D700B5;
$pricing-bg:#6A6A6A;
$white:$white;

