.contact-header{
    background-image: url('/public/images/Contact_Images/section\ 1.jpg');
    font-family: 'Sulphur Point';
    background-size: cover;
    @include media-min-sm{
        background-size: cover;
    }
    .nav-link.active{
        color: $pink-color-btn !important;
    }

    .navbar-nav{
        .nav-item{
            font-size: 20px;
            color: white;
            .nav-link{
                color:white;
                &:hover {
                    color: white; 
                    border-bottom: 2px solid $pink-color-btn;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }

    .saloon-text{
        margin-top: 5rem;
        @include media-max-md{
            margin-top: 5rem;
        }
        h1{
            font-size: 15px;
            font-weight: 600;
            @include media-min-sm{
                font-size: 60px;
                font-weight: 800;
            }
        }
    }
    .hamburger{
        color: white !important;
    }
    .offcanvas{
        background-color: #322119;
    }
    .header-text{
        h1{
            font-family: 'Impact';
            font-weight: bolder;
            font-size: 40px;
            letter-spacing: 5px;
            @include media-min-md{
                font-size: 80px;
            }
        }
        .about-text{
                top:9.5rem;
                letter-spacing: 6px;
                margin:0;
                font-size: 10px;
                @include media-max-sm{
                    top:10rem;
                    letter-spacing: 5px;
                    margin:0;
                    font-size: 10px;
                }
                @include media-min-sm{
                    top:8rem;
                    letter-spacing: 5px;
                    margin-left: 2rem;
                    font-size: 15px;
                }
                @include media-min-md{
                    top:10rem;
                    letter-spacing: 5px;
                    margin-left: 3rem;
                    font-size: 18px;
                }
            @include media-min-lg{
                top:11rem;
                letter-spacing: 5px;
                margin-left: 10px;
                font-size: 19px;
            }
           
        }
    }
      .top:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        height: 5px;
        width: 50%;
        border-top: 3px solid white;
      }
      .bottom:before {
        content: "";
        position: absolute;
        left: 2px;
        bottom: 0;
        height: 15px;
        width: 50%;
        border-bottom: 3px solid white;
      }
      .left:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        border-left: 3px solid white;
      }
      .right:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        border-right:3px solid white;
      }
}

.contact-form{
    background-image: url('/public/images/Contact_Images/Section\ 2.jpg');
    background-size: cover;
    .contact-head{
        font-family: 'Times New Roman', Times, serif;
    }
    .contact-text{
        font-family: 'Sulphur Point';
        line-height: 30px;
    }
    .contact-form-bg{
        font-family: 'Times New Roman', Times, serif;
        background-color: #20130da1;
    }
    .working-hours{
        .row{
            border-bottom: 2px dotted white;
            font-family: 'Sen', sans-serif;
            padding-top: 2px;
        }
    }
    .form-input{
        .name{
            border-radius: 5px;
            border: 1px solid rgb(106, 99, 99);
            font-family: 'Sen', sans-serif;
            font-size: 15px;
        }
        .submit-btn{
            background: linear-gradient(90deg, #FD006A 0%, #D700B5 100%);
            font-family: $content-font-family;
            border-radius: 2px;
        }
    }
    
}