.pricing-header{
    background-image: url('/public/images/About_Us_Images/Section\ 1.jpg');
    font-family: 'Sulphur Point';
    background-size: cover;
    @include media-min-sm{
        background-size: cover;
    }
    .nav-link.active{
        color: $pink-color-btn !important;
    }

    .navbar-nav{
        .nav-item{
            font-size: 20px;
            color: white;
            .nav-link{
                color:white;
                &:hover {
                    color: white; 
                    border-bottom: 2px solid $pink-color-btn;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }

    .saloon-text{
        margin-top: 5rem;
        @include media-max-md{
            margin-top: 5rem;
        }
        h1{
            font-size: 15px;
            font-weight: 600;
            @include media-min-sm{
                font-size: 60px;
                font-weight: 800;
            }
        }
    }
    .hamburger{
        color: white;
    }
    .offcanvas{
        background-color: #322119;
    }
    .header-text{
        h1{
            font-family: 'Impact';
            font-weight: bolder;
            font-size: 40px;
            letter-spacing: 5px;
            @include media-min-md{
                font-size: 80px;
            }
        }
        .about-text{
                top:9.5rem;
                letter-spacing: 6px;
                margin:0;
                font-size: 10px;
                @include media-max-sm{
                    top:7rem;
                    letter-spacing: 5px;
                    margin:0;
                    font-size: 10px;
                }
                @include media-min-sm{
                    top:8rem;
                    letter-spacing: 5px;
                    font-size: 15px;
                }
                @include media-min-md{
                    top:11rem;
                    letter-spacing: 5px;
                    margin-left: 3rem;
                    font-size: 18px;
                }
            @include media-min-lg{
                top:10rem;
                letter-spacing: 5px;
                margin-left: 10px;
                font-size: 19px;
            }
           
        }
    }
      .top:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        height: 5px;
        width: 50%;
        border-top: 3px solid white;
      }
      .bottom:before {
        content: "";
        position: absolute;
        left: 2px;
        bottom: 0;
        height: 15px;
        width: 50%;
        border-bottom: 3px solid white;
      }
      .left:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        border-left: 3px solid white;
      }
      .right:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        border-right: 3px solid white;
      }
}
.pricing-plan{
    background-image: url('/public/images/pricing_page_images/Section\ 2.jpg');
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 8px;
        @include media-min-md{
            font-size: 24px;
        }
    }
    .plan-text{
        font-family: 'Sulphur Point';
        font-size: 20px;
        line-height: 35px;
        word-spacing: 10px;
    }
    .backgound-center-image{
        width:450px;
        height:548px;
        background-color:#615656;
        .center-about{
            width: 250px;
            height: 550px;
            top: 3rem;
            left: 3rem;
        }
    }
    @media (min-width: 989px) and (max-width: 1440px) {
        .col-lg-6,
        .col-lg-3 {
            flex-basis: calc(50% - 15px); /* Adjust the width as needed */
            max-width: calc(50% - 15px); /* Adjust the width as needed */
        }
    }
    .about-page-story{
    background-image: url('/public/images/About_Us_Images/sec\ 3\ our\ story.jpg');
    background-size: cover;
        .story-head{
            font-family: 'Times New Roman', Times, serif;
            
        }
        .story-text {
            word-spacing: 10px;
            font-family: 'Sulphur Point';
            text-align: justify;
            @include media-min-md {
                    width: 100%;
                }
        }
    }
    .pricing-accordian{
        color: white;
        padding: 1rem;
        background-color: rgba(233, 104, 2, .2);
        @include media-min-md{
            padding: 5rem;
        }
        // opacity: 1;
        .content-pricing{
            border-bottom: 2px dotted white;
        }
    }
    .packages{
        background-color: rgba(255, 123, 43, 0.5);
        letter-spacing: 5px;
        font-size: 20px;
    }
}
.ready-to-get-services{
    background-image: url('/public/images/pricing_page_images/Section\ 3.jpg');
    h2{
        font-family: 'Sulphur Point';
        font-size: 15px;
    }
    button{
        border-radius: 5px;
        border: 1px solid white;
        padding: 0px;
    }
    @include media-min-md{
        justify-content: space-between;
        h2{
            font-family: 'Sulphur Point';
            font-size: 25px;
        }
        button{
            border-radius: 5px;
            border: 1px solid white;
        }
    }
}